<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  	<script src="https://code.jquery.com/jquery.js"></script>
    <!-- <script src="../../public/assets/js/script.js" charset="utf-8"></script> -->
    <title>Burger</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
