<div class="title-bar">
  <h1>Burger</h1>
</div>

<div class="wrapper">
  <div id="not-eaten-div">

    <h2>NOT EATEN</h2>

    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      <div class="burgerRow">
      <div class="burgerName">
      <p>{{burger_name}}</p>
      </div>
        <button class="devourBtn" type="submit" data-id="{{id}}">DEVOUR!</button>
      </div>
      {{/unless}}
      {{/each}}
    </ul>
    
  </div>
  <div id="add-div">
    <h2>Add A burger</h2>
    <input type="text" id="newBurger">
    <button id="addBurgerBtn" type="submit">Add Burger!</button>
  </div>
    <div id="eaten-div">
    <h2>EATEN</h2>
    <ul>
    {{#each burgers}}
    {{#if devoured}}
    <div class="burgerName">
    <p>{{burger_name}}</p>
    </div>
    {{/if}}
    {{/each}}
    </ul>
  </div>
</div>
